<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TuitionReimbursementMS</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LogOutServlet</servlet-name>
  	<servlet-class>com.revature.servlets.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LogOutServlet</servlet-name>
  	<url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>FormPageServlet</servlet-name>
  	<servlet-class>com.revature.servlets.FormPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FormPageServlet</servlet-name>
  	<url-pattern>/FormPage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>HomePageServlet</servlet-name>
  	<servlet-class>com.revature.servlets.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HomePageServlet</servlet-name>
  	<url-pattern>/BenCoordHomePage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ViewingFormPageServlet</servlet-name>
  	<servlet-class>com.revature.servlets.ViewingFormPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ViewingFormPageServlet</servlet-name>
  	<url-pattern>/ViewingFormPage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ApprovingFormPageServlet</servlet-name>
  	<servlet-class>com.revature.servlets.ApprovingFormPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ApprovingFormPageServlet</servlet-name>
  	<url-pattern>/ApprovingFormPage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UpdatingFormPageServlet</servlet-name>
  	<servlet-class>com.revature.servlets.UpdatingFormPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdatingFormPageServlet</servlet-name>
  	<url-pattern>/UpdatingFormPage</url-pattern>
  </servlet-mapping>
</web-app>